.react-resizable-handle {
  position: absolute;
  width: 15px;
  height: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover, &:focus {
    &::after{
      content: '||';
    }
  }


}
.react-resizable-handle-w,
.react-resizable-handle-e {
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
}
.react-resizable-handle-e {
  right: 0;
}
