.view-btn{
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
  transition: fill .4s ease;

  &:hover,
    &:focus {
        color: #0069d9;
    }

    &:active {
        top: .08em;
    }

  svg{
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    fill: currentColor;
    transition: fill .4s ease;
  }

  &-grid{
    font-size: 17px;
  }
}

.active-view{
  color: #0069d9;
}

.filter{

  &__icon{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    padding: 0;
    width: 18px;
    height: 30px;
    transition: fill .4s ease;
  }

  &__dropdown {
    padding: 0px 8px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;

    a{
      display: flex;
      align-items: center;

      svg{
        fill: currentColor;
      }

      span{
        font-size: 10px;
        padding-left: 8px;
      }
    }

  }

}

.list-unstyled{
  margin: 0;

  svg{
    margin-right: 10px;
  }
}
